psycopg2
cloudinary
selenium
requests
webdriver-manager
gnews
python-dateutil
pandas
tabulate
pytrends
urllib3<2.0

# Flask Web App Dependencies
flask
flask-socketio
flask-cors
gspread
oauth2client